configuration {
    display-drun:    "❱";
	show-icons:      true;
}

* {
    font: "Google Sans Regular 15";
    padding: 5px 10px;
    background-color: #212121;
    color: #fff;
}


window {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    padding: 15px;
    margin: 20% 25%;
}

listview {
    padding: 40px 10px 0px 10px;
    spacing: 0.2em;
}

#element {
    padding: 8px;
}

#element selected {
  border-radius: 4px;
  background-color: #383838aa;
}

/* vim:ft=css 
